/* Container holding the image and the text */
.container {
    position: absolute;
	text-align: center;
    color:white;
    /* The image used */
    background-image: linear-gradient(#07D2CC, #304352);
    /* Full height */
    height: 100%; 
    width: 100%;
    /* Center and scale the image nicely */
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}
/* Weather Data */
.condition {
    position: relative;
    font-size: 30pt;
    top:18%;
    left:4%;
    }
.temp {
	position: relative;
    left:36%;
    font-size: 110pt;
    font-weight:bold;
    transform: scale(.5,1);
	}
.week{
    position: relative;
    font-size:30pt;
    left:-35%;
    top:18%;
}
.date{
    position:relative;
    font-size:30pt;
    left:-35%; 
    top:21%;
}
.wind{
    position:relative;
    font-size:23pt;
    left:-35%;
    top:-29%;
}
.humidity{
    position:relative;
    font-size:23pt;
    left:-36%;
    top:-25%;
}
.humidity_icon{
    position:absolute;
    left: 5%;
    top: 64%;
    width: 30px;
    height: 30px;
}
.icon {
    position: absolute;
    left:34%;
    top:-7%;
    height:420px;
    width:300px;
}
.hourly_icon{
    position: relative;
    width:100px;
    height:100px;
    padding:15px 0px 13px 13px;
}
.hourly{
    position:relative;
    font-size:14px;
    display:inline;
}
body, html {
    height: 100%;
    margin: 0;
}
#rcorners {
    border-radius: 25px;
    position: relative;
    top:30%;
    left:50%;
    border:solid transparent;
    background-image: linear-gradient(#07D2CC, #304352);
    background: rgba(255,255,255,0.4);
    width: 800px;
    height: 400px; 
    transform: translate(-50%,-50%);
}
#rcorners2 {
    border-radius: 25px;
    position: relative;
    bottom: -190px;
    left:50%;
    border:solid transparent;
    background-image: linear-gradient(#07D2CC, #304352);
    background: rgba(255,255,255,0.4);
    width: 800px;
    height: 220px; 
    transform: translate(-50%,-50%);
}
