/* Container holding the image and the text */
.container {
    position: relative;
	text-align: center;
    color:white;
    /* The image used */
    background-image: linear-gradient(#07D2CC, #304352);
    /* Full height */
    height: 100%; 
    /* Center and scale the image nicely */
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
	}

/* Centered text */
.condition {
    font-size: 30pt;
	position: absolute;
	top:41%;
	left:50%;
	transform: translate(-50%,-50%);
	}
.temp {
	position: absolute;
	top: 20%;
	left: 60%;
	transform: translate(-50%, -50%);
    font-size: 100pt;
    font-weight:bold;
    transform: scale(.6,1);
	}
.temp_max {
    position: absolute;
    top:46%;
    left:50%;
    transform: translate(-50%,-50%);
    }
.temp_min{
    position: absolute;
    top:53%;
    left:50%;
    transform: translate(-50%,-50%);
    }
img {
    position: absolute;
    top:44%;
    left:50%;
    margin-left:auto;
    margin-right:auto;
    height:100%;
    width:37%;
    transform: translate(-50%,-50%);
}
body, html {
    height: 100%;
    margin: 0;
}
#rcorners {
    border-radius: 25px;
    position: relative;
    top:30%;
    left:50%;
    border:solid transparent;
    background-image: linear-gradient(#07D2CC, #304352);
    background: rgba(255,255,255,0.4);
    width: 800px;
    height: 400px; 
    transform: translate(-50%,-50%);
}
#rcorners2 {
    border-radius: 25px;
    position: relative;
    bottom: -190px;
    left:50%;
    border:solid transparent;
    background-image: linear-gradient(#07D2CC, #304352);
    background: rgba(255,255,255,0.4);
    width: 800px;
    height: 220px; 
    transform: translate(-50%,-50%);
}
