doctype html
link#forecast-css(href='css/forecast.css', rel='stylesheet')
head
    meta(chatset='utf8')
    script(src='https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js')
body
    div#container(class="container")
        div#rcorners 
            div#week(class="week")
            div#date(class="date")
            div#tmp(class="temp")
            div#condition(class="condition")
            div#wind(class="wind")
            img#image(src='' alt='weather' class="icon")
            img#humidity_icon(src="weather_img/humidity.png" alt='humi' class="humidity_icon")
            div#humidity(class="humidity")
        div#rcorners2
            -for(var i=0;i<6;i++)
                div(id='time'+i class='hourly') 
            -for(var i=0;i<6;i++)
                img(id='hourly_icon'+(i+1) src='' class='hourly_icon' alt='hourly')
script.
    $(document).ready(function() {
        var data = !{data}	
        document.getElementById('image').src = data.img
        tmp.innerHTML += data.temp +'℃'
        condition.innerHTML = data.status
        week.innerHTML = data.week
        date.innerHTML = data.date
        wind.innerHTML += 'Wind '+data.wind+'km/h'
        humidity.innerHTML += data.humidity+'%' 
        
        var hourly = !{hourly}
        for(var i=0;i<6;i++){ 
            document.getElementById('hourly_icon'+(i+1)).src = 'weather_img/'+hourly.list[i].weather[0].main+'.png'
            document.getElementById('time'+i).innerHTML = hourly.list[i].dt_txt
            }
        });

