doctype html
link#forecast-css(href='css/forecast.css', rel='stylesheet')
head
    meta(chatset='utf8')
    script(src='https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js')
body
    div#container(class="container")
        div#rcorners 
            div#week(class="week")
            div#date(class="date")
            div#tmp(class="temp")
            div#condition(class="condition")
            div#wind(class="wind")
            img#image(src='' alt='weather' class="icon")
            img#humidity_icon(src="weather_img/humidity.png" alt='humi' class="humidity_icon")
            div#humidity(class="humidity")
        div#rcorners2
script.
    $(document).ready(function() {
        var data = !{data}	
        document.getElementById('image').src = data.img
        tmp.innerHTML += data.temp +'℃'
        condition.innerHTML = data.status
        week.innerHTML = data.week
        date.innerHTML = data.date
        wind.innerHTML += 'Wind '+data.wind+'km/h'
        humidity.innerHTML += data.humidity+'%' 
    });

