doctype html
link#forecast-css(href='css/forecast.css', rel='stylesheet')
head
    meta(chatset='utf8')
    script(src='https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js')
body
    div#container(class="container")
        p#rcorners 
            img#image(src='' alt='weather')
            div#condition(class="condition")
            div#tmp(class="temp")
            div#day(class="day")
            div#date(class="date")
        p#rcorners2
script.
    $(document).ready(function() {
        var data = !{data}	
        document.getElementById('image').src = data.img
        tmp.innerHTML += data.temp +'℃'
        condition.innerHTML = data.status
    });

