doctype html
link#forecast-css(href='css/forecast.css', rel='stylesheet')
head
    meta(chatset='utf8')
    script(src='https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js')
body
    div#container(class="container")
        div#rcorners 
            div#week(class="week")
            div#date(class="date")
            div#wind(class="wind")
            img#humidity_icon(src="weather_img/humidity.png" alt='humi' class="humidity_icon")
            div#humidity(class="humidity")
            div#tmp(class="temp")
            img#image(src='' alt='weather' class="icon")
            div#condition(class="condition")
            div#temp_max(class="temp_max") 
            div#temp_min(class="temp_min") 
        div#rcorners2
            div(style="text-align:center; margin-top:1.2em;")
                -for(var i=0;i<7;i++)
                    div(id='time'+i class='hourly') 
                -for(var i=0;i<7;i++)
                    img(id='hourly_icon'+i src='' class='hourly_icon' alt='hourly')
                -for(var i=0;i<7;i++)
                    div(id='hourly_temp'+i class='hourly_temp')
script.
    $(document).ready(function() {
        var data = !{data}	
        document.getElementById('image').src = data.img
        tmp.innerHTML += data.temp +'℃'
        condition.innerHTML = data.status
        week.innerHTML = data.week
        date.innerHTML = data.date
        wind.innerHTML += 'Wind '+data.wind+'km/h'
        humidity.innerHTML += data.humidity+'%' 
        temp_max.innerHTML = data.temp_max+'℃'
        temp_min.innerHTML = data.temp_min+'℃ /'

        var d = new Date();
        var hour = d.getHours()
        var timeFormat = [0,3,6,9,12,15,18,21]
        var timeArr = []
        var abs=0
        var near=0
        var min = 100

        for(var i=0;i<8;i++) {
            abs = ( (timeFormat[i] - hour) <0) ? -(timeFormat[i] - hour) : (timeFormat[i]-hour);
            if(abs < min) {
                min = abs;
                near = timeFormat[i];
            }
        }
        for(var i=0;i<7;i++){
            if(near>=24)
                near-=24
            if(near<10)
                timeArr[i] = near.toLocaleString('en-US', {minimumIntegerDigits: 2, useGrouping:false})
            else
                timeArr[i] = near
            near+=3
        }

        var hourly = !{hourly}
        for(var i=0;i<7;i++){ 
            document.getElementById('hourly_icon'+i).src = 'weather_img/'+hourly.list[i].weather[0].main+'.png'
            document.getElementById('time'+i).innerHTML = timeArr[i]+':00';
            document.getElementById('hourly_temp'+i).innerHTML = Math.round(hourly.list[i].main.temp)+'℃'
            }
        });
    
