doctype html
link#forecast-css(href='css/forecast.css', rel='stylesheet')
head
	meta(chatset='utf8')
	script(src='https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js')
body
	div(class="container")
		img#image(src='' alt="weather")
		div#tmp(class="centered") 
script.
	$(document).ready(function() {
		var data = !{data}	
		document.getElementById('image').src = data.img
		tmp.innerHTML = data.temp +'도'
	});

